{"configSettings":[{"appID":"SharedServerToken","serverToken":"GPNBDUOIMZSIWL7ZWEZJSMBLXKGDIHVQ"},{"appID":"1264261925533163","serverToken":"A3MBHBAV5KT5JXB3L6NALYDUW24S3GIP"},{"appID":"901857582406602","serverToken":"XBPA7W2Z7INHHFW4DNLSZERMUSTYCEKS"},{"appID":"1564730524708836","serverToken":"GPNBDUOIMZSIWL7ZWEZJSMBLXKGDIHVQ"}]}